<div class="login-bg bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="log-in panel">
					<div class="panel-heading">
						<h2>Log in</h2>
					</div>
					<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<% flash.each do |name, msg| %>
							<div class="alert alert-danger text-center"><%= msg %></div>	
						<% end %>
						<div class="panel-body">
							<%= f.input :login, required: true, autofocus: true, label: false, placeholder: 'User Name' %>
							<%= f.input :password, required: true, label: false, placeholder: 'Password' %>
							<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
							<%= f.button :submit, "Log in", class: 'btn btn-info btn-block' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>