<div class="posts-wrapper">
	<div class="post">
		<div class="post-head">
			<div class="thumb-img col-sm-1">
				<%= image_tag(post.user.avatar.url(:thumbnail), class: 'img-circle') %>
			</div>
			<div class="user-name col-sm-6">
				<%= post.user.user_name %>
			</div>
			<div class="time-ago col-sm-5">
				<%= time_ago_in_words post.created_at %> ago
			</div>
		</div>
		<div class="image center-block">
			<%= link_to (image_tag post.image.url(:medium), class: 'img-responsive'), post_path(post) %>
		</div>
		<div class="post-bottom">
			<div class="caption">
				<div class="user-name">
					<%= post.user.user_name %>
				</div>
				<%= post.caption %>
			</div>
			<% if post.comments %>
				<div>
					<div id="comments_<%= post.id %>">
						<%= render 'comments/comments', post: post, comments: post.last_comments(Post.comment_limit) %>
					</div>
					<% if post.comments.count > Post.comment_limit %>
						<div class="see-more">
							<%= link_to "See more...", post_comments_path(post), remote: true %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="comment-like-form row">
			<div class="like-button col-sm-1">
				<span class="glyphicon glyphicon-heart-empty"></span>
			</div>
			<div class="comment-form col-sm-11">
				<%= form_for([ post, post.comments.build ], remote:true) do |f| %>
					<%= f.text_field :content, placeholder: 'Add a comment...', id: "comment_content_" + post.id.to_s, autocomplete: :off %>
				<% end %>
			</div>
		</div>
	</div>
</div>